/**
 * @description    Creates the default styling for the logo module
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2013-04-26 08:58
 *
 *
 *     @example
 *                 <p class="logo">Logo text</p>
 *
 *
 *        @type    module
 *       @notes
 */

/**
 * @section        logo
 */
.logo {
	@include logo-font-stack;
	@include font-size(3.0);
	margin-bottom: 0.25em;
	margin-top: 0.25em;
	@include single-text-shadow;
	@include at-breakpoint($tablet) {

	}
	@include at-breakpoint($computer) {
		@include font-size(4.6);
	}
	a {
		color: $color-white;
		&:hover {
			text-decoration: none;
		}
	}
}
