/**
 * @description    Creates the default styling for links
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2013-04-20 09:19
 *
 *
 *     @example
 *                 <a href=""></a>
 *
 *
 *        @type    element
 *       @notes
 */


/**
 * @section        a
 */
a {
	color: $color-brand;
	text-decoration: none;
	&:visited {
		// color: darken($color-brand-complementary1, 50%);
	}
	&:hover,
	&:active {
		color: lighten($color-brand, 25%);
		text-decoration: underline;
	}
}
