@mixin default-font-stack {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
@mixin secondary-font-stack {
	font-family: Verdana, Geneva, sans-serif;
}

@import url(http://fonts.googleapis.com/css?family=Dosis:500,800);
@mixin headline-font-stack {
	font-family: 'Dosis', "Arial Black", "Arial Bold", Gadget, sans-serif;
}
@mixin logo-font-stack {
	font-family: 'Dosis', "Arial Black", "Arial Bold", Gadget, sans-serif;
}
