/**
 * @description    styling for navPrimary
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2013-04-25 21:07
 *
 *
 *     @example
 *                 <a href=""></a>
 *
 *
 *        @type    nav
 *       @notes
 */

/**
 * @section        navPrimary
 */
.navPrimary {
	background: $color-brand-primary;
	li {
		float: left;
		margin-right: 1em;
	}
	a {
		color: $color-brand-secondary;
		font-weight: bold;
	}
}
