/**
 * @description    styling for navPrimary
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2013-04-25 21:07
 *
 *
 *     @example
 *                 <a href=""></a>
 *
 *
 *        @type    nav
 *       @notes
 */

/**
 * @section        navPrimary
 */
.navPrimary {
	background: $color-brand;
	padding: 0;
	ul {
		padding-bottom: 0;
		padding-top: 0;
	}
	li {
		float: left;
		margin-right: 1em;
	}
	a {
		background: lighten($color-brand, 25%);
		color: $color-brand;
		display: block;
		font-weight: bold;
		padding: 1em 2em;
	}
	.active {
		background: $color-page-bg;
	}
}
