<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>{% if page.title %} {{ page.title }} {% endif %}</title>
		<meta name="description" content="{{ page.metaDescription }}" />
		<meta name="keywords" content="{{ page.metaKeywords }}" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="/css/styles.css" />
	</head>
	<body>
		<header class="layoutHeader" role="banner">
			<div class="layoutWrapper">
				<p class="logo"><a href="/"><strong>Picked Stones Farm</strong></a></p>
				<p>Equestrian farm property in the heart of the Exmoor National Park</p>
			</div>
		</header>

		<nav class="navPrimary" role="navigation">
			<ul class="layoutWrapper">
				{% assign pages_list = site.pages %}
				{% assign group = 'navPrimary' %}
				{% include pages_list %}
			</ul>
		</nav>

		<div class="layoutWrapper" role="main">
			<section class="contentMain">
				{{ content }}
			</section>
			<aside class="contentSub">
				<h2>Contact Us</h2>
				<p>Picked Stones Farm
				<br />Simonsbath
				<br />Minehead
				<br />Somerset
				<br />TA24 7LA
				<br />UK</p>
				<p>Telephone: +44 (0) 1598 741201
				<br />Mobile: +44 (0) 7974 346755
				<br /><a href="mailto:email@pickedstonesfarm.co.uk">email@pickedstonesfarm.co.uk</a></p>
				<p><strong>Please call if you have any questions or to arrange a viewing</strong></p>

				<h2>Facilities</h2>
				<ul>
					<li>Two double en-suite bedrooms</li>
					<li>One top floor en-suite family room with one double bed and two singles</li>
					<li>Stunning views</li>
					<li>Huge gardens</li>
					<li>Several outbuildings</li>
					<li>Utility room</li>
					<li>Ample parking</li>
					<li>Wood burner</li>
					<li>Rayburn</li>
					<li>WC &#38; shower on the ground floor</li>
					<li>Conservatory</li>
					<li>Barbeque area</li>
					<li>Outside WC</li>
				</ul>
			</aside>
		</div>

		<div class="locationMap">
			<div class="layoutWrapper">
				<iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=+&amp;q=TA24+7LA&amp;ie=UTF8&amp;hq=&amp;hnear=Simonsbath+TA24+7LA,+United+Kingdom&amp;ll=51.120802,-3.714924&amp;spn=0.036581,0.090809&amp;t=h&amp;z=14&amp;output=embed"></iframe>
				<small><a href="https://maps.google.co.uk/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=+&amp;q=TA24+7LA&amp;ie=UTF8&amp;hq=&amp;hnear=Simonsbath+TA24+7LA,+United+Kingdom&amp;ll=51.120802,-3.714924&amp;spn=0.036581,0.090809&amp;t=h&amp;z=14">View Larger Map</a></small>
			</div>
		</div>

		<footer class="layoutFooter" role="contentinfo">
			<div class="layoutWrapper">
				<p>&copy; Picked Stones Farm 2008 - 2013</p>
			</div>
		</footer>
	</body>
</html>
