//Colour palette

// Define colours
$color-white:                       #fff;
$color-black:                       #000;

// Hex
$color-brand:                       #5bb8cf;    // blue
$color-complementary:               #e37b3a;    // orange

// RBG
$color-brand-rgb:                   19,116,125; // blue
$color-brand-rgb-complementary:     23,56,91;   // orange

$color-copy:                        lighten($color-black, 10%);
$color-text-shadow:                 darken($color-white, 5%);
$color-page-bg:                     $color-white;

$color-border:                      lighten($color-black, 50%);

$color-mark:                        $color-complementary;
$color-selection:                   $color-complementary;
