//Colour palette

// Define colours
$color-white:                       #fff;
$color-black:                       #000;

// http://www.colourlovers.com/palette/1283145/The_Way_You_Love_Me

// Hex
$color-brand-primary:               #028F76;    // Bursting Blue
$color-brand-secondary:             #D14334;    // love
$color-brand-tertiary:              #B3E099;    // lite minte

$color-brand-complementary1:        #FFEAAD;    // crystal
$color-brand-complementary2:        #1C2130;    // void

// RBG
$color-brand-rgb-primary:           2,143,118; // Bursting Blue
$color-brand-rgb-secondary:         209,67,52;  // love
$color-brand-rgb-tertiary:          179,224,153;  // lite minte

$color-brand-rgb-complementary1:    255,234,173;  // crystal
$color-brand-rgb-complementary2:    28,33,48;  // void

// $color-brand-complementary:         rgba(0, 0, 0, 1);

$color-copy:                        lighten($color-black, 10%);
$color-text-shadow:                 darken($color-white, 5%);
$color-page-bg:                     $color-white;

$color-border:                      lighten($color-black, 50%);

$color-mark:                        $color-brand-complementary1;
$color-selection:                   $color-brand-complementary1;
$color-brand:                       $color-brand-primary;
